RewriteEngine On

RewriteRule ^ataka-chiterov$ project1.html [L]
RewriteRule ^kondicii$ project2.html [L]
RewriteRule ^litvin-gorebox$ project3.html [L]
RewriteRule ^project-67$ project4.html [L]